@use "../base/variable.scss" as variable;
@use "../base/mixins.scss" as mixins;
@use "sass:color";

h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
	margin: 0;
	padding: 0;
}

body {
	font-weight: 400;
	font-size: 14px;
	overflow-x: clip;
	font-family: variable.$geist;
	color: variable.$black;
}

.form-group{
	label{
		margin: 0;
	}
	.form-control{
		border: 1px solid transparent;
		font-size: 16px;
		font-weight: 400;
		padding: 10px 12px;
		border-radius: 0;
		color: variable.$black;
		&::placeholder{
			font-size: inherit;
			font-weight: inherit;
			color: variable.$grey;
		}
		&:focus{
			border-color: variable.$primary_color;
			box-shadow: unset;
		}
	}
}





img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}


html {
	scroll-behavior: smooth;
}

.no_event {
	pointer-events: none;
}

.scroll_off {
	overflow: hidden;
	@include mixins.ioshidden();
}




#pb_scroll::-webkit-scrollbar-track {
	box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
	-webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
	background-color: none;
}

#pb_scroll::-webkit-scrollbar {
	width: 4px;
	background-color: none;
}

#pb_scroll::-webkit-scrollbar-thumb {
	border-radius: 100px;
	background-color: variable.$primary_color;
	border: 1px solid variable.$primary_color;
}






/* Extra Huge large desktops */
@media (min-width: 1920px) {}

/* Extra Huge large desktops */
@media (min-width: 1680px) and (max-width: 1919px) {}

/* Extra Huge large desktops */
@media (min-width: 1600px) and (max-width: 1679px) {}

/* Extra large desktops and mac laptops*/
@media (min-width: 1400px) and (max-width: 1599px) {}

/* 1200 desktop only */
@media (min-width: 1200px) and (max-width: 1299px) {
	.spacing_btm {
		margin-bottom: 70px;
	}
}

@media (min-width: 1300px) and (max-width: 1399px) {
	.spacing_btm {
		margin-bottom: 70px;
	}
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	
	.form-group{
		.form-control{
			font-size: 15px;
		}
	}

	.spacing_btm {
		margin-bottom: 50px;
	}
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {

	.form-group{
		.form-control{
			font-size: 15px;
		}
	}

	.spacing_btm {
		margin-bottom: 40px;
	}
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
	.form-group{
		.form-control{
			font-size: 14px;
		}
	}

	.spacing_btm {
		margin-bottom: 30px;
	}

	
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
	.btn-primary {
		font-size: 14px;
		padding: 8px 14px;
		border-radius: 6px;

		&.reset {
			margin-top: 10px;
		}
	}

	.form-control {
		padding: 5px 0;
		font-size: 15px;
	}

	.spacing_btm {
		margin-bottom: 25px;
	}

	.form-check {
		.form-check-input {
			height: 16px;
			width: 16px;
		}

		.form-check-label {
			line-height: 24px;
			padding-left: 7px;
		}
	}
}

/* Smaller phones */
@media (max-width: 360px) {
	.btn-primary {
		font-size: 14px;
		padding: 8px 14px;
		border-radius: 6px;

		&.reset {
			margin-top: 10px;
		}
	}

	.form-control {
		padding: 5px 0;
		font-size: 14px;
	}

	.spacing_btm {
		margin-bottom: 25px;
	}

	.form-check {

		.form-check-input {
			height: 16px;
			width: 16px;
		}

		.form-check-label {
			line-height: 24px;
			padding-left: 7px;
		}
	}
}

/* Smaller phones */
@media (max-width: 320px) {}